# Ignore CMake build folders
**/build/
**/CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Ignore compiled binaries
*.exe
*.out
*.obj
*.o
*.dll
*.so
*.a
*.lib
*.pdb

# Ignore data output (e.g. mesh files)
**/mesh_*.off
*.off

# Ignore user-generated exercise data
/Data/

# Ignore VSCode settings
.vscode/

